<h3>All Articles</h3>

<%= link_to("New Article?", new_article_path) %>


<ul>

    
<%  @articles.each do |article| %>

    <li>
        <h4>title</h4> <%= article.title%>,
        <h4>body</h4> <%= article.body%>
        <h5>
            <a href="/articles/<%= article.id%>">
        
        </a>
        <%= link_to "Visit the article", article%>
        </h5>
    </li>
    
<% end %>



</ul>



